# Tutorial

## Prerequisites.

#### Download and install Miniconda, Anaconda, or Conda.

https://docs.conda.io/en/latest/miniconda.html

### Create the Conda environment.

```
conda env create --file conda\win.yml
conda activate tyche
pip install mip
```

#### Activate the Tyche environment.

```
conda activate tyche
```

## Set up.

### Import packages.

#### Import the system packages.

In [2]:
import os
import sys

#### Add the main Tyche packages to the search path.

In [3]:
sys.path.insert(1, os.path.abspath("../src"))

#### Import tyche and related packages.

In [4]:
import numpy             as np
import matplotlib.pyplot as pl
import pandas            as pd
import seaborn           as sb
import tyche             as ty

## Design the technology model.

### Technology name.

Choose a unique name for the technology being modeled: **Biorefinery 1.0**

Also choose a unique name for the default, reference, or base-case scenario: **Bioreference**

### Dimensions and indices.

Decide which quantities will be tracked as indices in the model, and settle on their units of measurment and default values:
1.  Types of capital costs: **preprocessing, fermentation, conversion, separations, utilities** Units: USD/biorefinery
2.  Types of fixed cost: **rent, insurance** Units: USD/year
3.  Inputs to the process: **feedstock** (metric tons/year), **natural gas** (MJ/year)
4.  Outputs from the process: **biofuel** (gal/year)
5.  Metrics: **fossil GHG** (kg CO2-eq/gal biofuel), **total GHG** (kg CO2-eq/gal biofuel), **jobs** (person-hours/gal biofuel)
6.  Parameters:  **fossil GHG** (kg CO2-eq/year), **biogenic GHG** (kg CO2-eq/year), **employment** (person-hours/year), **preprocessing capital cost** (USD/biorefinery), **fermentation capital cost** (USD/biorefinery), **conversion capital cost** (USD/biorefinery), **separations capital cost** (USD/biorefinery), **utilities capital cost** (USD/biorefinery)

Note that in each category, the numeric indices for each item are numbered with integers starting from zero.

See the [model](https://tyche.live/doc-src/formulation.html) and [database](https://tyche.live/doc-src/database.html) documentation for more details.

### Create the `indices` table.

~~Here is the example `indices` table for a PV model:~~

Here is the `indices` table for Biorefinery 1.0:

In [20]:
example_designs = ty.Designs("../ioc-1/data/biorefinery-1.0")
example_designs.indices.reset_index("Index").sort_values(["Type", "Offset"])

                                             Index  Offset  \
Technology      Type
Biorefinery 1.0 Capital              Preprocessing       0
                Capital               Fermentation       1
                Capital                 Conversion       2
                Capital                Separations       3
                Fixed                         Rent       0
                Fixed                    Insurance       1
                Input                    Feedstock       0
                Input                  Natural Gas       1
                Metric                        Jobs       0
                Metric                  Fossil GHG       1
                Metric                   Total GHG       2
                Output                     Biofuel       0
                Technical Parameter     Fossil GHG       0
                Technical Parameter   Biogenic GHG       1
                Technical Parameter     Employment       2

                                                    Description Notes
Technology      Type
Biorefinery 1.0 Capital              process area capital costs
                Capital              process area capital costs
                Capital              process area capital costs
                Capital              process area capital costs
                Fixed
                Fixed
                Input
                Input
                Metric                 person-hours/gal biofuel
                Metric                    kg CO2-eq/gal biofuel
                Metric                    kg CO2-eq/gal biofuel
                Output
                Technical Parameter              kg CO2-eq/year
                Technical Parameter              kg CO2-eq/year
                Technical Parameter           person-hours/year

Enter the data for your model in the tab-delimited-value file [tutorial/data/indices.tsv](data/).

Check to see that the data file reads correctly:

In [24]:
my_designs = ty.Designs("../ioc-1/data/biorefinery-1.0/")
my_designs.indices.reset_index("Index").sort_values(["Type", "Offset"])

                                             Index  Offset  \
Technology      Type
Biorefinery 1.0 Capital              Preprocessing       0
                Capital               Fermentation       1
                Capital                 Conversion       2
                Capital                Separations       3
                Fixed                         Rent       0
                Fixed                    Insurance       1
                Input                    Feedstock       0
                Input                  Natural Gas       1
                Metric                        Jobs       0
                Metric                  Fossil GHG       1
                Metric                   Total GHG       2
                Output                     Biofuel       0
                Technical Parameter     Fossil GHG       0
                Technical Parameter   Biogenic GHG       1
                Technical Parameter     Employment       2

                                                    Description Notes
Technology      Type
Biorefinery 1.0 Capital              process area capital costs
                Capital              process area capital costs
                Capital              process area capital costs
                Capital              process area capital costs
                Fixed
                Fixed
                Input
                Input
                Metric                 person-hours/gal biofuel
                Metric                    kg CO2-eq/gal biofuel
                Metric                    kg CO2-eq/gal biofuel
                Output
                Technical Parameter              kg CO2-eq/year
                Technical Parameter              kg CO2-eq/year
                Technical Parameter           person-hours/year

### Create the `results` table.

Check to see that the data file reads correctly:

In [23]:
my_designs = ty.Designs("../ioc-1/data/biorefinery-1.0")
my_designs.results

                                                         Units  \
Technology      Variable          Index
Biorefinery 1.0 Input             Feedstock    metric ton/year
                                  Natural Gas          MJ/year
                Input efficiency  Feedstock                  1
                                  Natural Gas                1
                Input price       Feedstock     USD/metric ton
                                  Natural Gas           USD/MJ
                Lifetime          Biorefinery            years
                Output efficiency Biofuel                    1
                Output price      Biofuel              USD/gal
                Scale             Biorefinery         unitless

                                                                                           Notes
Technology      Variable          Index
Biorefinery 1.0 Input             Feedstock                  per one year of expected operations
                                  Natural Gas
                Input efficiency  Feedstock    unitless fraction. Losses are during transport...
                                  Natural Gas                                  unitless fraction
                Input price       Feedstock           average over expected biorefinery lifetime
                                  Natural Gas
                Lifetime          Biorefinery
                Output efficiency Biofuel                                      unitless fraction
                Output price      Biofuel             average over expected biorefinery lifetime
                Scale             Biorefinery

### Create the `designs` table.

~~Here is the example `designs` table for a PV model, just for the reference scenario:~~

Here is the bioreference scenario from the biorefinery 1.0 `designs` table:

In [17]:
example_designs = ty.Designs("../ioc-1/data/biorefinery-1.0")
example_designs.designs.xs("Bioreference", level = "Scenario", drop_level = False).reset_index(["Variable", "Index"]).sort_values(["Variable", "Index"])

                                       Variable        Index        Value  \
Technology      Scenario
Biorefinery 1.0 Bioreference              Input    Feedstock       771750
                Bioreference              Input  Natural Gas  10563588000
                Bioreference   Input efficiency    Feedstock          0.8
                Bioreference   Input efficiency  Natural Gas            1
                Bioreference        Input price    Feedstock           58
                Bioreference        Input price  Natural Gas      0.00521
                Bioreference           Lifetime  Biorefinery           30
                Bioreference  Output efficiency      Biofuel         0.76
                Bioreference       Output price      Biofuel         2.15
                Bioreference              Scale  Biorefinery            1

                                        Units  \
Technology      Scenario
Biorefinery 1.0 Bioreference  metric ton/year
                Bioreference          MJ/year
                Bioreference                1
                Bioreference                1
                Bioreference   USD/metric ton
                Bioreference           USD/MJ
                Bioreference            years
                Bioreference                1
                Bioreference          USD/gal
                Bioreference         unitless

                                                                          Notes
Technology      Scenario
Biorefinery 1.0 Bioreference                per one year of expected operations
                Bioreference              for steam production and process heat
                Bioreference  unitless fraction. Losses are during transport...
                Bioreference                                  unitless fraction
                Bioreference         average over expected biorefinery lifetime
                Bioreference
                Bioreference
                Bioreference                                  unitless fraction
                Bioreference         average over expected biorefinery lifetime
                Bioreference

Enter the data for your model in the tab-delimited-value file [tutorial/data/designs.tsv](data/).

Check to see that the data file reads correctly:

In [9]:
my_designs = ty.Designs("data")
my_designs.designs.reset_index(["Variable", "Index"]).sort_values(["Variable", "Index"])

Empty DataFrame
Columns: [Variable, Index, Value, Units, Notes]
Index: []

### Create the `parameters` table.

Here is the example `parameters` table for a PV model, just for the reference scenario:

In [10]:
example_designs = ty.Designs("../ioc-1/data")
example_designs.parameters.xs("Reference", level = "Scenario", drop_level = False).reset_index("Parameter").sort_values("Offset")

                                        Parameter  Offset         Value  \
Technology Scenario
PV Generic Reference                Discount Rate       0          0.07
           Reference                   Insolation       1          1000
           Reference                  System Size       2            36
           Reference               Module Capital       3           110
           Reference              Module Lifetime       4            25
           Reference            Module Efficiency       5         0.208
           Reference              Module Aperture       6           0.9
           Reference             Module O&M Fixed       7            20
           Reference           Module Degradation       8        0.0075
           Reference     Location Capacity Factor       9           0.2
           Reference          Module Soiling Loss      10          0.05
           Reference             Inverter Capital      11           0.3
           Reference            Inverter Lifetime      12            16
           Reference         Inverter Replacement      13           0.5
           Reference          Inverter Efficiency      14           0.9
           Reference             Hardware Capital      15            80
           Reference                 Direct Labor      16          2000
           Reference                   Permitting      17           600
           Reference         Customer Acquisition      18          2000
           Reference  Installer Overhead & Profit      19          0.35
           Reference      Hazardous Waste Content      20          1830
           Reference        Greenhouse Gas Offset      21  0.4490564e-3
           Reference               Benchmark LCOC      22       2.51977
           Reference               Benchmark LCOE      23      0.086773

                          Units Notes
Technology Scenario
PV Generic Reference     1/year    DR
           Reference      W/m^2   INS
           Reference        m^2   SSZ
           Reference      $/m^2   MCC
           Reference         yr   MLT
           Reference      %/100   MEF
           Reference      %/100   MAP
           Reference    $/kW/yr   MOM
           Reference       1/yr   MDR
           Reference      %/100   MCF
           Reference      %/100   MSL
           Reference        $/W   ICC
           Reference         yr   ILT
           Reference      %/100   IRC
           Reference      %/100   IEF
           Reference      $/m^2   BCC
           Reference   $/system   BLR
           Reference   $/system   BPR
           Reference   $/system   BCA
           Reference          1   BOH
           Reference      g/m^2
           Reference  gCO2e/kWh
           Reference      $/Wdc
           Reference      $/kWh

Enter the data for your model in the tab-delimited-value file [tutorial/data/parameters.tsv](data/).

Check to see that the data file reads correctly:

In [11]:
my_designs = ty.Designs("data")
my_designs.parameters.reset_index("Parameter").sort_values("Offset")

Empty DataFrame
Columns: [Parameter, Offset, Value, Units, Notes]
Index: []

## Implement the technology model.

The implementation of a technology model consists of a capital cost function, a fixed cost function, a production function, and a metrics function.

See the [model](https://tyche.live/doc-src/formulation.html) documentation for more details.

The [src/technology/](../src/technology/) folder has examples of several technology models.

#### Capital cost function.

The capital cost function takes the scale of the operations and the array of technology parameters as arguments and it returns the capital costs for the technology.

In [12]:
def capital_cost(scale, parameter):
  """
  Capital cost function.

  Parameters
  ----------
  scale : float
    The scale of operation.
  parameter : array
    The technological parameterization.
  """

  # It is handy to copy the elements of the parameter array into meaningful variable names.
  a = parameter[0]
  b = parameter[1]
    
  # Here are some example computations:
  capital_cost_category_1 = scale * a
  capital_cost_category_2 = scale * b

  # Stack the costs for each category into a single array that we return.
  return np.stack([
      capital_cost_category_1,
      capital_cost_category_2,
  ])

Implement the capital cost function for your technology in the file [tutorial/my_technology.py](./).

#### Fixed cost function.

The fixed cost function takes the scale of the operations and the array of technology parameters as arguments and it returns the fixed costs for the technology.

In [13]:
def fixed_cost(scale, parameter):
  """
  Capital cost function.

  Parameters
  ----------
  scale : float
    The scale of operation.
  parameter : array
    The technological parameterization.
  """

  # It is handy to copy the elements of the parameter array into meaningful variable names.
  a = parameter[0]
  b = parameter[1]
    
  # Here are some example computations:
  fixed_cost_category_1 = scale * a
  fixed_cost_category_2 = scale * b
  fixed_cost_category_3 = scale * np.sqrt(a * b)

  # Stack the costs for each category into a single array that we return.
  return np.stack([
      fixed_cost_category_1,
      fixed_cost_category_2,
      fixed_cost_category_3,
  ])

Implement the fixed cost function for your technology in the file [tutorial/my_technology.py](./).

#### Production function.

The production function takes the scale of the operations, the capital costs, the lifetime, the fixed costs, and the array of technology parameters as arguments and it returns the production (outputs) for the technology.

In [14]:
def production(scale, capital, lifetime, fixed, input, parameter):
  """
  Production function.

  Parameters
  ----------
  scale : float
    The scale of operation.
  capital : array
    Capital costs.
  lifetime : float
    Technology lifetime.
  fixed : array
    Fixed costs.
  input : array
    Input quantities. 
  parameter : array
    The technological parameterization.
  """

  # It is handy to copy the elements of the parameter array into meaningful variable names.
  a = parameter[0]
  b = parameter[1]
    
  # Here are some example (meaningless) computations:
  output_category_1 = scale * capital / lifetime
  output_category_2 = a * b
  output_category_3 = lifetime + input
  output_category_4 = scale * np.sqrt(a * b)

  # Stack the output for each category into a single array that we return.
  return np.stack([
      output_cost_category_1,
      output_cost_category_2,
      output_cost_category_3,
      output_cost_category_4,
  ])

Implement the production function for your technology in the file [tutorial/my_technology.py](./).

#### Metric function.

The metric function takes information on costs, inputs, outputs, and parameters and it returns the metrics for the technology.

In [15]:
def metrics(scale, capital, lifetime, fixed, input_raw, input, output_raw, output, cost, parameter):
  """
  Metrics function.

  Parameters
  ----------
  scale : float
    The scale of operation.
  capital : array
    Capital costs.
  lifetime : float
    Technology lifetime.
  fixed : array
    Fixed costs.
  input_raw : array
    Raw input quantities (before losses).
  input : array
    Input quantities. 
  output_raw : array
    Raw output quantities (before losses).
  output : array
    Output quantities. 
  cost : array
    Costs.
  parameter : array
    The technological parameterization.
  """

  # Hydrogen output.
  hydrogen = output[1]

  # Cost of hydrogen.
  cost1 = np.divide(cost, hydrogen)

  # Jobs normalized to hydrogen.
  jobs = np.divide(parameter[4], hydrogen)

  # GHGs associated with water and electricity.
  water       = np.multiply(input_raw[0], parameter[8])
  electricity = np.multiply(input_raw[1], parameter[9])
  co2e = np.divide(np.add(water, electricity), hydrogen)

  # Package results.
  return np.stack([cost1, jobs, co2e])

Implement the metrics function for your technology in the file [tutorial/my_technology.py](./).

### Create the `functions` table.

Here is the example `functions` table for a PV model, just for the reference scenario:

In [16]:
example_designs = ty.Designs("../ioc-1/data")
example_designs.functions

,Style,Module,Capital,Fixed,Production,Metrics,Notes
Technology,,,,,,,
PV Generic,numpy,pv_residential_generic,capital_cost,fixed_cost,production,metrics,generic residential PV

Enter the technology name and any notes for your model in the tab-delimited-value file [tutorial/data/functions.tsv](data/). You can also edit the module or function names in this table, if you changed them.

Check to see that the data file reads correctly:

In [17]:
my_designs = ty.Designs("data")
my_designs.functions

,Style,Module,Capital,Fixed,Production,Metrics,Notes
Technology,,,,,,,
My Technology,numpy,my_technology,capital_cost,fixed_cost,production,metrics,my notes

Check to see that the functions compile without errors.

In [19]:
my_designs = ty.Designs("data")
my_designs.compile()

## Create investment for reference case.

### Create the `tranches` table.

Here is the example `tranches` table for a PV model:

In [25]:
example_investments = ty.Investments("../ioc-1/data")
example_investments.tranches

                                                              Amount Notes
Category          Tranche             Scenario
CIGS              CIGS 0              CIGS 0                     0.0
                  CIGS 1              CIGS 1               1500000.0
                  CIGS 2              CIGS 2               3000000.0
CdTe              CdTe 0              CdTe 0                     0.0
                  CdTe 1              CdTe 1               3000000.0
                  CdTe 2              CdTe 2               6000000.0
GaAs              GaAs 0              GaAs 0                     0.0
                  GaAs 1              GaAs 1               5000000.0
                  GaAs 2              GaAs 2               7500000.0
InGaP             InGaP 0             InGaP 0                    0.0
                  InGaP 1             InGaP 1              3500000.0
                  InGaP 2             InGaP 2              9500000.0
Perovskite        Perovskite 0        Perovskite 0               0.0
                  Perovskite 1        Perovskite 1         7500000.0
                  Perovskite 2        Perovskite 2         9500000.0
Polysilicon       Polysilicon 0       Polysilicon 0              0.0
                  Polysilicon 1       Polysilicon 1        2500000.0
                  Polysilicon 2       Polysilicon 2        4500000.0
Power Electronics Power Electronics 0 Polysilicon 0              0.0
                  Power Electronics 1 Power Electronics 1  1000000.0
                  Power Electronics 2 Power Electronics 2  5000000.0
Soft Costs        Soft Costs 0        Polysilicon 0              0.0
                  Soft Costs 1        Soft Costs 1         1000000.0
                  Soft Costs 2        Soft Costs 2         5000000.0

To get started, we just want to create on tranche and one category for the base case or reference scenario.

Edit the name of the reference case for your model in the tab-delimited-value file [tutorial/data/tranches.tsv](data/).

Check to see that the data file reads correctly:

In [26]:
my_investments = ty.Investments("data")
my_investments.tranches

                                            Amount Notes
Category         Tranche         Scenario
Example Category Example Tranche Base Case     0.0

### Create the `investments` table.

Here is the example `investments` table for a PV model:

In [27]:
example_investments = ty.Investments("../ioc-1/data")
example_investments.investments

                                                   Notes
Investment   Category          Tranche
High R&D     CIGS              CIGS 2
             CdTe              CdTe 2
             GaAs              GaAs 2
             InGaP             InGaP 2
             Perovskite        Perovskite 2
             Polysilicon       Polysilicon 2
             Power Electronics Power Electronics 2
             Soft Costs        Soft Costs 2
Moderate R&D CIGS              CIGS 1
             CdTe              CdTe 1
             GaAs              GaAs 1
             InGaP             InGaP 1
             Perovskite        Perovskite 1
             Polysilicon       Polysilicon 1
             Power Electronics Power Electronics 1
             Soft Costs        Soft Costs 1
No R&D       CIGS              CIGS 0
             CdTe              CdTe 0
             GaAs              GaAs 0
             InGaP             InGaP 0
             Perovskite        Perovskite 0
             Polysilicon       Polysilicon 0
             Power Electronics Power Electronics 0
             Soft Costs        Soft Costs 0

To get started, we just want to create one investment for the base case or reference scenario.

Edit the name of the reference case for your model in the tab-delimited-value file [tutorial/data/investments.tsv](data/).

Check to see that the data file reads correctly:

In [28]:
my_investments = ty.Investments("data")
my_investments.investments

                                                    Notes
Investment         Category         Tranche
Example Investment Example Category Example Tranche

## Simulate the base case or reference scenario.

### Load the data.

In [29]:
my_designs = ty.Designs("../ioc-1/data")

In [30]:
my_investments = ty.Investments("../ioc-1/data")

### Compile the production and metric functions for each technology in the dataset.

In [31]:
my_designs.compile()

### Compute costs and metrics for tranches.

Tranches are atomic units for building investment portfolios. Evaluate all of the tranches, so we can assemble them into investments (portfolios).

In [32]:
tranche_results = my_investments.evaluate_tranches(my_designs, sample_count=50)

The tranche amounts are simple how much each tranche costs.

In [37]:
tranche_results.amounts

                                          Amount
Category          Tranche
CIGS              CIGS 0                     0.0
                  CIGS 1               1500000.0
                  CIGS 2               3000000.0
CdTe              CdTe 0                     0.0
                  CdTe 1               3000000.0
                  CdTe 2               6000000.0
GaAs              GaAs 0                     0.0
                  GaAs 1               5000000.0
                  GaAs 2               7500000.0
InGaP             InGaP 0                    0.0
                  InGaP 1              3500000.0
                  InGaP 2              9500000.0
Perovskite        Perovskite 0               0.0
                  Perovskite 1         7500000.0
                  Perovskite 2         9500000.0
Polysilicon       Polysilicon 0              0.0
                  Polysilicon 1        2500000.0
                  Polysilicon 2        4500000.0
Power Electronics Power Electronics 0        0.0
                  Power Electronics 1  1000000.0
                  Power Electronics 2  5000000.0
Soft Costs        Soft Costs 0               0.0
                  Soft Costs 1         1000000.0
                  Soft Costs 2         5000000.0

The tranch metrics show the values of each metric for each member of the ensemble of simulations.

In [39]:
tranche_results.metrics

                                                                         Value  \
Category   Tranche      Scenario     Sample Technology Index
CIGS       CIGS 0       CIGS 0       1      PV Generic Capital       -1.077813
                                                       Efficiency     0.219947
                                                       GHG           -0.000449
                                                       Hazardous      0.047658
                                                       LCOE          -0.044739
...                                                                        ...
Soft Costs Soft Costs 2 Soft Costs 2 50     PV Generic Hazardous      0.243075
                                                       LCOE           0.016238
                                                       Lifetime      25.001565
                                                       Strategic      0.000000
                                                       Yield       1278.437470

                                                                           Units
Category   Tranche      Scenario     Sample Technology Index
CIGS       CIGS 0       CIGS 0       1      PV Generic Capital            Δ$/Wdc
                                                       Efficiency          %/100
                                                       GHG         ΔgCO2e/system
                                                       Hazardous           g/kWh
                                                       LCOE               Δ$/kWh
...                                                                          ...
Soft Costs Soft Costs 2 Soft Costs 2 50     PV Generic Hazardous           g/kWh
                                                       LCOE               Δ$/kWh
                                                       Lifetime               yr
                                                       Strategic           g/kWh
                                                       Yield               hr/yr

[9600 rows x 2 columns]

### Compute costs and metrics for investments.

Now evaluate the investments.

In [40]:
investment_results = my_investments.evaluate_investments(my_designs, sample_count=50)

The investment amounts are simple how much each tranche costs.

In [41]:
investment_results.amounts

                  Amount
Investment
High R&D      50000000.0
Moderate R&D  25000000.0
No R&D               0.0

The investment metrics show the values of each metric for each member of the ensemble of simulations.

In [42]:
investment_results.metrics

                                                                                    Value  \
Investment Category   Tranche      Scenario     Sample Technology Index
No R&D     CIGS       CIGS 0       CIGS 0       1      PV Generic Capital       -0.678316
                                                                  Efficiency     0.232591
                                                                  GHG           -0.000449
                                                                  Hazardous      0.054182
                                                                  LCOE          -0.053636
...                                                                                   ...
High R&D   Soft Costs Soft Costs 2 Soft Costs 2 50     PV Generic Hazardous      0.265198
                                                                  LCOE           0.011181
                                                                  Lifetime      25.000505
                                                                  Strategic      0.000000
                                                                  Yield       1278.425112

                                                                                      Units
Investment Category   Tranche      Scenario     Sample Technology Index
No R&D     CIGS       CIGS 0       CIGS 0       1      PV Generic Capital            Δ$/Wdc
                                                                  Efficiency          %/100
                                                                  GHG         ΔgCO2e/system
                                                                  Hazardous           g/kWh
                                                                  LCOE               Δ$/kWh
...                                                                                     ...
High R&D   Soft Costs Soft Costs 2 Soft Costs 2 50     PV Generic Hazardous           g/kWh
                                                                  LCOE               Δ$/kWh
                                                                  Lifetime               yr
                                                                  Strategic           g/kWh
                                                                  Yield               hr/yr

[9600 rows x 2 columns]

A summary of the metrics is available at the investment level rather than at the tranche level.

In [43]:
investment_results.summary

                                     Value          Units
Investment Sample Index
No R&D     1      Capital        -1.862977         Δ$/Wdc
                  Efficiency      2.048341          %/100
                  GHG            -0.003592  ΔgCO2e/system
                  Hazardous       0.979832          g/kWh
                  LCOE           -0.153442         Δ$/kWh
...                                    ...            ...
High R&D   50     Hazardous       0.815598          g/kWh
                  LCOE            0.049966         Δ$/kWh
                  Lifetime      187.192465             yr
                  Strategic       0.044768          g/kWh
                  Yield       10251.413349          hr/yr

[1200 rows x 2 columns]