# Tutorial

## Prerequisites.

#### Download and install Miniconda, Anaconda, or Conda.

https://docs.conda.io/en/latest/miniconda.html

### Create the Conda environment.

```
conda env create --file conda\win.yml
conda activate tyche
pip install mip
```

#### Activate the Tyche environment.

```
conda activate tyche
```

## Set up.

### Import packages.

#### Import the system packages.

In [1]:
import os
import sys

#### Add the main Tyche packages to the search path.

In [2]:
sys.path.insert(1, os.path.abspath("../src"))

#### Import tyche and related packages.

In [3]:
import numpy             as np
import matplotlib.pyplot as pl
import pandas            as pd
import seaborn           as sb
import tyche             as ty

## Design the technology model.

### Technology name.

Choose a unique name for the technology being modeled: **Biorefinery 1.0**

Also choose a unique name for the default, reference, or base-case scenario: **Bioreference**

### Dimensions and indices.

Decide which quantities will be tracked as indices in the model, and settle on their units of measurment and default values:
1.  Types of capital costs: **preprocessing, fermentation, conversion, separations, utilities** Units: USD/biorefinery
2.  Types of fixed cost: **rent, insurance** Units: USD/year
3.  Inputs to the process: **feedstock** (metric tons/year), **natural gas** (MJ/year)
4.  Outputs from the process: **biofuel** (gal/year)
5.  Metrics: **fossil GHG** (kg CO2-eq/gal biofuel), **total GHG** (kg CO2-eq/gal biofuel), **jobs** (person-hours/gal biofuel)
6.  Parameters:  **fossil GHG** (kg CO2-eq/year), **biogenic GHG** (kg CO2-eq/year), **employment** (person-hours/year), **preprocessing capital cost** (USD/biorefinery), **fermentation capital cost** (USD/biorefinery), **conversion capital cost** (USD/biorefinery), **separations capital cost** (USD/biorefinery), **utilities capital cost** (USD/biorefinery)

Note that in each category, the numeric indices for each item are numbered with integers starting from zero.

See the [model](https://tyche.live/doc-src/formulation.html) and [database](https://tyche.live/doc-src/database.html) documentation for more details.

### Create the `indices` table.

Check to see that the data file reads correctly:

In [18]:
my_designs = ty.Designs("data/biorefinery_v1/")
my_designs.indices.reset_index("Index").sort_values(["Type", "Offset"])

                                                            Index  Offset  \
Technology     Type
Biorefinery v1 Capital                              Preprocessing       0
               Capital                               Fermentation       1
               Capital                                 Conversion       2
               Capital                                Separations       3
               Capital                                  Utilities       4
               Fixed                                         Rent       0
               Fixed                                    Insurance       1
               Input                                    Feedstock       0
               Input                                  Natural Gas       1
               Metric                                        Jobs       0
               Metric                                  Fossil GHG       1
               Metric                                   Total GHG       2
               Metric                                        MFSP       3
               Output                                     Biofuel       0
               Technical Parameter                     Fossil GHG       0
               Technical Parameter                   Biogenic GHG       1
               Technical Parameter                     Employment       2
               Technical Parameter     Preprocessing Capital Cost       3
               Technical Parameter      Fermentation Capital Cost       4
               Technical Parameter        Conversion Capital Cost       5
               Technical Parameter       Separations Capital Cost       6
               Technical Parameter         Utilities Capital Cost       7
               Technical Parameter                           Rent       8
               Technical Parameter                      Insurance       9
               Technical Parameter                 Original Scale      10
               Technical Parameter                 Scaling Factor      11
               Technical Parameter            Ideal Biofuel Yield      12
               Technical Parameter                  Discount Rate      13
               Technical Parameter            Depreciation Period      14
               Technical Parameter  Depreciation Period Utilities      15
               Technical Parameter                Income Tax Rate      16

                                                   Description  \
Technology     Type
Biorefinery v1 Capital              process area capital costs
               Capital              process area capital costs
               Capital              process area capital costs
               Capital              process area capital costs
               Capital              process area capital costs
               Fixed
               Fixed
               Input
               Input
               Metric                 person-hours/gal biofuel
               Metric                    kg CO2-eq/gal biofuel
               Metric                    kg CO2-eq/gal biofuel
               Metric                          USD/gal biofuel
               Output
               Technical Parameter              kg CO2-eq/year
               Technical Parameter              kg CO2-eq/year
               Technical Parameter           person-hours/year
               Technical Parameter             USD/biorefinery
               Technical Parameter             USD/biorefinery
               Technical Parameter             USD/biorefinery
               Technical Parameter             USD/biorefinery
               Technical Parameter             USD/biorefinery
               Technical Parameter                    USD/year
               Technical Parameter                    USD/year
               Technical Parameter                    unitless
               Technical Parameter                    unitless
               Technical Parameter              gal/metric ton
               Technical Parameter                    unitless
               Technical Parameter                        year
               Technical Parameter                        year
               Technical Parameter                    unitless

                                                         Notes
Technology     Type
Biorefinery v1 Capital
               Capital
               Capital
               Capital
               Capital
               Fixed
               Fixed
               Input
               Input
               Metric
               Metric
               Metric
               Metric               minimum fuel selling price
               Output
               Technical Parameter
               Technical Parameter
               Technical Parameter
               Technical Parameter
               Technical Parameter
               Technical Parameter
               Technical Parameter
               Technical Parameter
               Technical Parameter
               Technical Parameter
               Technical Parameter
               Technical Parameter
               Technical Parameter
               Technical Parameter
               Technical Parameter
               Technical Parameter
               Technical Parameter

### Create the `results` table.

Check to see that the data file reads correctly:

In [6]:
my_designs.results

                                                       Units  \
Technology     Variable Index
Biorefinery v1 Cost     Cost                        USD/year
               Metric   Fossil GHG     kg CO2-eq/gal biofuel
                        Jobs        person-hours/gal biofuel
                        MFSP                 USD/gal biofuel
                        Total GHG      kg CO2-eq/gal biofuel
               Output   Biofuel                     gal/year

                                                                         Notes
Technology     Variable Index
Biorefinery v1 Cost     Cost
               Metric   Fossil GHG
                        Jobs
                        MFSP                        minimum fuel selling price
                        Total GHG
               Output   Biofuel     average over expected biorefinery lifetime

### Create the `designs` table.

Check to see that the data file reads correctly:

In [7]:
my_designs.designs.reset_index(["Variable", "Index"]).sort_values(["Variable", "Index"])

                               Variable        Index   Value            Units  \
Technology     Scenario
Biorefinery v1 Bioreference       Input    Feedstock  771750  metric ton/year
               Conversion 0       Input    Feedstock  771750  metric ton/year
               Conversion 1       Input    Feedstock  771750  metric ton/year
               Conversion 2       Input    Feedstock  771750  metric ton/year
               Fermentation 0     Input    Feedstock  771750  metric ton/year
...                                 ...          ...     ...              ...
               Preprocessing 1    Scale  Biorefinery       1         unitless
               Preprocessing 2    Scale  Biorefinery       1         unitless
               Separations 0      Scale  Biorefinery       1         unitless
               Separations 1      Scale  Biorefinery       1         unitless
               Separations 2      Scale  Biorefinery       1         unitless

                                                              Notes
Technology     Scenario
Biorefinery v1 Bioreference     per one year of expected operations
               Conversion 0     per one year of expected operations
               Conversion 1     per one year of expected operations
               Conversion 2     per one year of expected operations
               Fermentation 0   per one year of expected operations
...                                                             ...
               Preprocessing 1
               Preprocessing 2
               Separations 0
               Separations 1
               Separations 2

[182 rows x 5 columns]

### Create the `parameters` table.

Check to see that the data file reads correctly:

In [8]:
my_designs.parameters.reset_index("Parameter").sort_values("Scenario")

                                             Parameter  Offset        Value  \
Technology     Scenario
Biorefinery v1 Bioreference               Biogenic GHG       1    115762500
               Bioreference     Utilities Capital Cost       7      1250000
               Bioreference   Separations Capital Cost       6     50000000
               Bioreference             Scaling Factor      11          0.6
               Bioreference                       Rent       8      1000000
...                                                ...     ...          ...
               Separations 2   Conversion Capital Cost       5    100000000
               Separations 2              Biogenic GHG       1    115762500
               Separations 2  Separations Capital Cost       6     45750000
               Separations 2                Fossil GHG       0  163201972.5
               Separations 2    Utilities Capital Cost       7      1250000

                                        Units Notes
Technology     Scenario
Biorefinery v1 Bioreference    kg CO2-eq/year
               Bioreference   USD/biorefinery
               Bioreference   USD/biorefinery
               Bioreference          unitless
               Bioreference          USD/year
...                                       ...   ...
               Separations 2  USD/biorefinery
               Separations 2   kg CO2-eq/year
               Separations 2  USD/biorefinery
               Separations 2   kg CO2-eq/year
               Separations 2  USD/biorefinery

[221 rows x 5 columns]

## Implement the technology model.

The implementation of a technology model consists of a capital cost function, a fixed cost function, a production function, and a metrics function.

See the [model](https://tyche.live/doc-src/formulation.html) documentation for more details.

The [src/technology/](../src/technology/) folder has examples of several technology models.

#### Capital cost function.

The capital cost function takes the scale of the operations and the array of technology parameters as arguments and it returns the capital costs for the technology.

In [8]:
def capital_cost(scale, parameter):
    """
    Capital cost function.

    Parameters
    ----------
    scale : float
      The scale of operation.
    parameter : array
      The technological parameterization.

    Returns
    -------
    @TODO update docstring
    Total capital cost for one biorefinery (USD/biorefinery)
    """
    # "original" biorefinery scale
    o_scale = parameter[10]

    # scaling factor for equipment costs
    scale_factor = parameter[11]

    pre = parameter[3] * (scale / o_scale) ** scale_factor
    fer = parameter[4] * (scale / o_scale) ** scale_factor
    con = parameter[5] * (scale / o_scale) ** scale_factor
    sep = parameter[6] * (scale / o_scale) ** scale_factor
    utl = parameter[7] * (scale / o_scale) ** scale_factor

    return np.stack([pre, fer, con, sep, utl])

Implement the capital cost function for your technology in the file [tutorial/my_technology.py](./).

#### Fixed cost function.

The fixed cost function takes the scale of the operations and the array of technology parameters as arguments and it returns the fixed costs for the technology.

In [9]:
def fixed_cost(scale, parameter):
    """
    Fixed cost function.

    Parameters
    ----------
    scale : float [Unused]
      The scale of operation.
    parameter : array
      The technological parameterization.

    Returns
    -------
    total fixed costs for one biorefinery (USD/year)
    """
    o_scale = parameter[10]

    rnt = parameter[8] * (scale / o_scale)
    ins = parameter[9] * (scale / o_scale)

    return np.stack([rnt, ins])

Implement the fixed cost function for your technology in the file [tutorial/my_technology.py](./).

#### Production function.

The production function takes the scale of the operations, the capital costs, the lifetime, the fixed costs, and the array of technology parameters as arguments and it returns the production (outputs) for the technology.

In [10]:
def production(scale, capital, lifetime, fixed, input, parameter):
    """
    Production function.

    Parameters
    ----------
    scale : float
      The scale of operation.
    capital : array
      Capital costs.
    lifetime : float
      Technology lifetime.
    fixed : array
      Fixed costs.
    input : array
      Input quantities.
    parameter : array
      The technological parameterization.

    Returns
    -------
    output_raw
        Ideal/theoretical production of each technology output: biofuel at
        gals/year
    """

    theor_yield = parameter[12]
    feedstock = input[0] * scale

    # theoretical biofuel yield w/out any efficiency losses
    output_raw = theor_yield * feedstock

    return np.stack([output_raw])

Implement the production function for your technology in the file [tutorial/my_technology.py](./).

#### Metric function.

The metric function takes information on costs, inputs, outputs, and parameters and it returns the metrics for the technology.

In [11]:
def metrics(design, capital, fixed, input_raw, input, output_raw, output, cost, parameter):
    """
    Metrics function.

    Parameters
    ----------
    design : array(?)
        the technology design
    capital : array
      Capital costs. Units: USD/biorefinery
    fixed : array
      Fixed costs. Units: USD/year
    input_raw : array
      Raw input quantities (before losses). Units: metric ton feedstock/year
    input : array
      Input quantities. Units: metric ton feedstock/year
    output_raw : array
      Raw output quantities (before losses). Units: gal biofuel/year
    output : array
      Output quantities. Units: gal biofuel/year
    cost : array
      Costs.
    parameter : array
      The technological parameterization. Units vary; given in comments below
    """

    # annual fossil GHG emissions, Units: kg CO2-eq/year
    ghg_foss_ann = parameter[0]
    # annual biogenic GHG emissions, Units: kg CO2-eq/year
    ghg_bio_ann  = parameter[1]
    # Annual person-hours required, Units: person-hours/year
    emp_ann      = parameter[2]
    # Preprocessing capital cost, Units: USD
    pre_cap      = parameter[3]
    # Fermentation capital cost, Units: USD
    fer_cap      = parameter[4]
    # Conversion capital cost, Units: USD
    con_cap      = parameter[5]
    # Separations capital cost, Units: USD
    sep_cap      = parameter[6]
    # Utilities capital cost, Units: USD
    utl_cap      = parameter[7]
    # Annual rent, Units: USD/year
    rnt_ann      = parameter[8]
    # Annual insurance, Units: USD/year
    ins_ann      = parameter[9]
    # Discount rate, Unitless
    dr           = parameter[13]
    # Depreciation period for all equipment except utilities, Units: years
    dp           = parameter[14]
    # Depreciation period for utilities, Units: years
    dpu          = parameter[15]
    # Income tax rate, Units: years
    tr           = parameter[16]

    # JOBS: person-hours/gal biofuel
    # parameter[2] units: person-hours/year
    # output units: gal biofuel/year
    emp = emp_ann / output

    # FOSSIL GHG: kg CO2-eq/gal biofuel
    # parameter[0] units: kg CO2-eq/year
    # output units: gal biofuel/year
    ghg_foss = ghg_foss_ann / output

    # TOTAL GHG: kg CO2-eq/gal biofuel
    # parameter[0] and parameter[1] units: kg CO2-eq/year
    # output units: gal biofuel/year
    ghg_tot = (ghg_foss_ann + ghg_bio_ann) / output

    # MINIMUM FUEL SELLING PRICE: USD/gal biofuel

    # total project investment, Units: USD
    # sum of all capital costs
    tpi = np.sum([pre_cap,  #preprocessing
                  fer_cap,  #fermentation
                  con_cap,  #conversion
                  sep_cap,  #separations
                  utl_cap]) #utilities

    # depreciation costs, units: USD/year
    dc = np.sum(np.sum([pre_cap, fer_cap, con_cap, sep_cap]) / dp,
                utl_cap / dpu)

    # operating costs, units: USD/year
    oc = input_raw[0] * design.input_price[0] + input_raw[1] * design.input_price[1] + rnt_ann + ins_ann

    # tpi discount factor, Units: unitless
    lifetime = design.lifetime
    df_tpi = (dr * (1 + dr) ** lifetime) / ((1 + dr) ** lifetime - 1)

    # total revenue from biofuel sales, Units: USD/year
    br = ((1 - tr) * oc - tr * dc + df_tpi * tpi) / (1 - tr)

    # MFSP, Units: USD/gal biofuel
    mfsp = br / output

    return np.stack([emp, ghg_foss, ghg_tot, mfsp])

Implement the metrics function for your technology in the file [tutorial/my_technology.py](./).

### Create the `functions` table.

Check to see that the data file reads correctly:

In [9]:
my_designs.functions

,Style,Module,Capital,Fixed,Production,Metrics,Notes
Technology,,,,,,,
Biorefinery v1,numpy,biorefinery_v1,capital_cost,fixed_cost,production,metrics,

Check to see that the functions compile without errors.

In [10]:
my_designs.compile()

## Create investment for reference case.

### Create the `tranches` table.

Check to see that the data file reads correctly:

In [4]:
my_investments = ty.Investments("data/biorefinery_v1")
my_investments.tranches

                                                          Amount Notes
Category      Tranche                 Scenario
Conversion    Conversion 0            Conversion 0      800000.0
              Conversion 1            Conversion 1     2000000.0
              Conversion 2            Conversion 2     2250000.0
              Conversion Reference    Bioreference           0.0
Fermentation  Fermentation 0          Fermentation 0    250000.0
              Fermentation 1          Fermentation 1    400000.0
              Fermentation 2          Fermentation 2    500000.0
              Fermentation Reference  Bioreference           0.0
Preprocessing Preprocessing 0         Preprocessing 0   500000.0
              Preprocessing 1         Preprocessing 1  1500000.0
              Preprocessing 2         Preprocessing 2  1750000.0
              Preprocessing Reference Bioreference           0.0
Separations   Separations 0           Separations 0     500000.0
              Separations 1           Separations 1    2000000.0
              Separations 2           Separations 2    4000000.0
              Separations Reference   Bioreference           0.0

### Create the `investments` table.

Check to see that the data file reads correctly:

In [12]:
my_investments = ty.Investments("data/biorefinery_v1")
my_investments.investments

                                                   Notes
Investment   Category      Tranche
High R&D     Conversion    Conversion 2
             Fermentation  Fermentation 2
             Preprocessing Preprocessing 2
             Separations   Separations 2
Low R&D      Conversion    Conversion 0
             Fermentation  Fermentation 0
             Preprocessing Preprocessing 0
             Separations   Separations 0
Moderate R&D Conversion    Conversion 1
             Fermentation  Fermentation 1
             Preprocessing Preprocessing 1
             Separations   Separations 1
No R&D       Conversion    Conversion Reference
             Fermentation  Fermentation Reference
             Preprocessing Preprocessing Reference
             Separations   Separations Reference

## Simulate the base case or reference scenario.

### Load the data.

In [4]:
my_designs = ty.Designs("data/biorefinery_v1")

In [5]:
my_investments = ty.Investments("data/biorefinery_v1")

### Compile the production and metric functions for each technology in the dataset.

In [6]:
my_designs.compile()

### Compute costs and metrics for tranches.

Tranches are atomic units for building investment portfolios. Evaluate all of the tranches, so we can assemble them into investments (portfolios).

In [7]:
tranche_results = my_investments.evaluate_tranches(my_designs, sample_count=1)

The tranche amounts are simple how much each tranche costs.

In [8]:
tranche_results.amounts

                                          Amount
Category      Tranche
Conversion    Conversion 0              800000.0
              Conversion 1             2000000.0
              Conversion 2             2250000.0
              Conversion Reference           0.0
Fermentation  Fermentation 0            250000.0
              Fermentation 1            400000.0
              Fermentation 2            500000.0
              Fermentation Reference         0.0
Preprocessing Preprocessing 0           500000.0
              Preprocessing 1          1500000.0
              Preprocessing 2          1750000.0
              Preprocessing Reference        0.0
Separations   Separations 0             500000.0
              Separations 1            2000000.0
              Separations 2            4000000.0
              Separations Reference          0.0

The tranch metrics show the values of each metric for each member of the ensemble of simulations.

In [16]:
tranche_results.metrics

                                                                                       Value  \
Category     Tranche                Scenario      Sample Technology     Index
Conversion   Conversion Reference   Bioreference  1      Biorefinery v1 Fossil GHG  3.322701
                                                                        Jobs        0.002067
                                                                        MFSP        2.800958
                                                                        Total GHG   5.696058
Fermentation Fermentation Reference Bioreference  1      Biorefinery v1 Fossil GHG  3.322701
...                                                                                      ...
Separations  Separations 1          Separations 1 1      Biorefinery v1 Total GHG   3.972092
             Separations 2          Separations 2 1      Biorefinery v1 Fossil GHG  2.517991
                                                                        Jobs        0.002074
                                                                        MFSP        2.076388
                                                                        Total GHG   4.304053

                                                                                                       Units
Category     Tranche                Scenario      Sample Technology     Index
Conversion   Conversion Reference   Bioreference  1      Biorefinery v1 Fossil GHG     kg CO2-eq/gal biofuel
                                                                        Jobs        person-hours/gal biofuel
                                                                        MFSP                 USD/gal biofuel
                                                                        Total GHG      kg CO2-eq/gal biofuel
Fermentation Fermentation Reference Bioreference  1      Biorefinery v1 Fossil GHG     kg CO2-eq/gal biofuel
...                                                                                                      ...
Separations  Separations 1          Separations 1 1      Biorefinery v1 Total GHG      kg CO2-eq/gal biofuel
             Separations 2          Separations 2 1      Biorefinery v1 Fossil GHG     kg CO2-eq/gal biofuel
                                                                        Jobs        person-hours/gal biofuel
                                                                        MFSP                 USD/gal biofuel
                                                                        Total GHG      kg CO2-eq/gal biofuel

[64 rows x 2 columns]

### Compute costs and metrics for investments.

Now evaluate the investments.

In [10]:
investment_results = my_investments.evaluate_investments(my_designs, sample_count=50)

The investment amounts are simple how much each tranche costs.

In [11]:
investment_results.amounts

                 Amount
Investment
High R&D      8500000.0
Low R&D       2050000.0
Moderate R&D  5900000.0
No R&D              0.0

The investment metrics show the values of each metric for each member of the ensemble of simulations.

In [12]:
investment_results.metrics

                                                                                               Value  \
Investment Category    Tranche              Scenario      Sample Technology     Index
No R&D     Conversion  Conversion Reference Bioreference  1      Biorefinery v1 Fossil GHG  3.322701
                                                                                Jobs        0.002067
                                                                                MFSP        2.800958
                                                                                Total GHG   5.696058
                                                          2      Biorefinery v1 Fossil GHG  3.322701
...                                                                                              ...
High R&D   Separations Separations 2        Separations 2 49     Biorefinery v1 Total GHG   3.543312
                                                          50     Biorefinery v1 Fossil GHG  2.064506
                                                                                Jobs        0.001700
                                                                                MFSP        1.702435
                                                                                Total GHG   3.528903

                                                                                                               Units
Investment Category    Tranche              Scenario      Sample Technology     Index
No R&D     Conversion  Conversion Reference Bioreference  1      Biorefinery v1 Fossil GHG     kg CO2-eq/gal biofuel
                                                                                Jobs        person-hours/gal biofuel
                                                                                MFSP                 USD/gal biofuel
                                                                                Total GHG      kg CO2-eq/gal biofuel
                                                          2      Biorefinery v1 Fossil GHG     kg CO2-eq/gal biofuel
...                                                                                                              ...
High R&D   Separations Separations 2        Separations 2 49     Biorefinery v1 Total GHG      kg CO2-eq/gal biofuel
                                                          50     Biorefinery v1 Fossil GHG     kg CO2-eq/gal biofuel
                                                                                Jobs        person-hours/gal biofuel
                                                                                MFSP                 USD/gal biofuel
                                                                                Total GHG      kg CO2-eq/gal biofuel

[3200 rows x 2 columns]

A summary of the metrics is available at the investment level rather than at the tranche level.

In [13]:
investment_results.summary

                                  Value                     Units
Investment Sample Index
No R&D     1      Fossil GHG  13.290803     kg CO2-eq/gal biofuel
                  Jobs         0.008266  person-hours/gal biofuel
                  MFSP        11.203833           USD/gal biofuel
                  Total GHG   22.784233     kg CO2-eq/gal biofuel
           2      Fossil GHG  13.290803     kg CO2-eq/gal biofuel
...                                 ...                       ...
High R&D   49     Total GHG   12.656459     kg CO2-eq/gal biofuel
           50     Fossil GHG   9.281717     kg CO2-eq/gal biofuel
                  Jobs         0.006979  person-hours/gal biofuel
                  MFSP         7.565130           USD/gal biofuel
                  Total GHG   15.787079     kg CO2-eq/gal biofuel

[800 rows x 2 columns]