# Tutorial

## Prerequisites.

#### Download and install Miniconda, Anaconda, or Conda.

https://docs.conda.io/en/latest/miniconda.html

### Create the Conda environment.

```
conda env create --file conda\win.yml
conda activate tyche
pip install mip
```

#### Activate the Tyche environment.

```
conda activate tyche
```

## Set up.

### Import packages.

#### Import the system packages.

In [1]:
import os
import sys

#### Add the main Tyche packages to the search path.

In [2]:
sys.path.insert(1, os.path.abspath("../src"))

#### Import tyche and related packages.

In [3]:
import numpy             as np
import matplotlib.pyplot as pl
import pandas            as pd
import seaborn           as sb
import tyche             as ty

## Design the technology model.

### Technology name.

Choose a unique name for the technology being modeled: **Biorefinery 1.0**

Also choose a unique name for the default, reference, or base-case scenario: **Bioreference**

### Dimensions and indices.

Decide which quantities will be tracked as indices in the model, and settle on their units of measurment and default values:
1.  Types of capital costs: **preprocessing, fermentation, conversion, separations, utilities** Units: USD/biorefinery
2.  Types of fixed cost: **rent, insurance** Units: USD/year
3.  Inputs to the process: **feedstock** (metric tons/year), **natural gas** (MJ/year)
4.  Outputs from the process: **biofuel** (gal/year)
5.  Metrics: **fossil GHG** (kg CO2-eq/gal biofuel), **total GHG** (kg CO2-eq/gal biofuel), **jobs** (person-hours/gal biofuel)
6.  Parameters:  **fossil GHG** (kg CO2-eq/year), **biogenic GHG** (kg CO2-eq/year), **employment** (person-hours/year), **preprocessing capital cost** (USD/biorefinery), **fermentation capital cost** (USD/biorefinery), **conversion capital cost** (USD/biorefinery), **separations capital cost** (USD/biorefinery), **utilities capital cost** (USD/biorefinery)

Note that in each category, the numeric indices for each item are numbered with integers starting from zero.

See the [model](https://tyche.live/doc-src/formulation.html) and [database](https://tyche.live/doc-src/database.html) documentation for more details.

### Create the `indices` table.

Check to see that the data file reads correctly:

In [5]:
my_designs = ty.Designs("data/biorefinery_v1/")
my_designs.indices.reset_index("Index").sort_values(["Type", "Offset"])

                                                         Index  Offset  \
Technology     Type
Biorefinery v1 Capital                           Preprocessing       0
               Capital                            Fermentation       1
               Capital                              Conversion       2
               Capital                             Separations       3
               Fixed                                      Rent       0
               Fixed                                 Insurance       1
               Input                                 Feedstock       0
               Input                               Natural Gas       1
               Metric                                     Jobs       0
               Metric                               Fossil GHG       1
               Metric                                Total GHG       2
               Output                                  Biofuel       0
               Technical Parameter                  Fossil GHG       0
               Technical Parameter                Biogenic GHG       1
               Technical Parameter                  Employment       2
               Technical Parameter  Preprocessing Capital Cost       3
               Technical Parameter   Fermentation Capital Cost       4
               Technical Parameter     Conversion Capital Cost       5
               Technical Parameter    Separations Capital Cost       6
               Technical Parameter      Utilities Capital Cost       7
               Technical Parameter                        Rent       8
               Technical Parameter                   Insurance       9
               Technical Parameter              Original Scale      10
               Technical Parameter              Scaling Factor      11
               Technical Parameter         Ideal Biofuel Yield      12

                                                   Description Notes
Technology     Type
Biorefinery v1 Capital              process area capital costs
               Capital              process area capital costs
               Capital              process area capital costs
               Capital              process area capital costs
               Fixed
               Fixed
               Input
               Input
               Metric                 person-hours/gal biofuel
               Metric                    kg CO2-eq/gal biofuel
               Metric                    kg CO2-eq/gal biofuel
               Output
               Technical Parameter              kg CO2-eq/year
               Technical Parameter              kg CO2-eq/year
               Technical Parameter           person-hours/year
               Technical Parameter             USD/biorefinery
               Technical Parameter             USD/biorefinery
               Technical Parameter             USD/biorefinery
               Technical Parameter             USD/biorefinery
               Technical Parameter             USD/biorefinery
               Technical Parameter                    USD/year
               Technical Parameter                    USD/year
               Technical Parameter                    unitless
               Technical Parameter                    unitless
               Technical Parameter              gal/metric ton

### Create the `results` table.

Check to see that the data file reads correctly:

In [6]:
my_designs.results

                                                        Units  \
Technology     Variable          Index
Biorefinery v1 Input             Feedstock    metric ton/year
                                 Natural Gas          MJ/year
               Input efficiency  Feedstock                  1
                                 Natural Gas                1
               Input price       Feedstock     USD/metric ton
                                 Natural Gas           USD/MJ
               Lifetime          Biorefinery            years
               Output efficiency Biofuel                    1
               Output price      Biofuel              USD/gal
               Scale             Biorefinery         unitless

                                                                                          Notes
Technology     Variable          Index
Biorefinery v1 Input             Feedstock                  per one year of expected operations
                                 Natural Gas
               Input efficiency  Feedstock    unitless fraction. Losses are during transport...
                                 Natural Gas                                  unitless fraction
               Input price       Feedstock           average over expected biorefinery lifetime
                                 Natural Gas
               Lifetime          Biorefinery
               Output efficiency Biofuel                                      unitless fraction
               Output price      Biofuel             average over expected biorefinery lifetime
               Scale             Biorefinery

### Create the `designs` table.

Check to see that the data file reads correctly:

In [7]:
my_designs.designs.reset_index(["Variable", "Index"]).sort_values(["Variable", "Index"])

                               Variable        Index   Value            Units  \
Technology     Scenario
Biorefinery v1 Bioreference       Input    Feedstock  771750  metric ton/year
               Conversion 0       Input    Feedstock  771750  metric ton/year
               Conversion 1       Input    Feedstock  771750  metric ton/year
               Conversion 2       Input    Feedstock  771750  metric ton/year
               Fermentation 0     Input    Feedstock  771750  metric ton/year
...                                 ...          ...     ...              ...
               Preprocessing 1    Scale  Biorefinery       1         unitless
               Preprocessing 2    Scale  Biorefinery       1         unitless
               Separations 0      Scale  Biorefinery       1         unitless
               Separations 1      Scale  Biorefinery       1         unitless
               Separations 2      Scale  Biorefinery       1         unitless

                                                              Notes
Technology     Scenario
Biorefinery v1 Bioreference     per one year of expected operations
               Conversion 0     per one year of expected operations
               Conversion 1     per one year of expected operations
               Conversion 2     per one year of expected operations
               Fermentation 0   per one year of expected operations
...                                                             ...
               Preprocessing 1
               Preprocessing 2
               Separations 0
               Separations 1
               Separations 2

[130 rows x 5 columns]

### Create the `parameters` table.

Check to see that the data file reads correctly:

In [8]:
my_designs.parameters.reset_index("Parameter").sort_values("Scenario")

                                               Parameter  Offset      Value  \
Technology     Scenario
Biorefinery v1 Bioreference                 Biogenic GHG       1  115762500
               Bioreference       Utilities Capital Cost       7    1250000
               Bioreference     Separations Capital Cost       6   50000000
               Bioreference               Scaling Factor      11        0.6
               Bioreference   Preprocessing Capital Cost       3    1500000
...                                                  ...     ...        ...
               Separations 2     Conversion Capital Cost       5  100000000
               Separations 2                Biogenic GHG       1  115762500
               Separations 2    Separations Capital Cost       6   45750000
               Separations 2         Ideal Biofuel Yield      12     103.95
               Separations 2      Utilities Capital Cost       7    1250000

                                        Units
Technology     Scenario
Biorefinery v1 Bioreference    kg CO2-eq/year
               Bioreference   USD/biorefinery
               Bioreference   USD/biorefinery
               Bioreference          unitless
               Bioreference   USD/biorefinery
...                                       ...
               Separations 2  USD/biorefinery
               Separations 2   kg CO2-eq/year
               Separations 2  USD/biorefinery
               Separations 2   gal/metric ton
               Separations 2  USD/biorefinery

[169 rows x 4 columns]

## Implement the technology model.

The implementation of a technology model consists of a capital cost function, a fixed cost function, a production function, and a metrics function.

See the [model](https://tyche.live/doc-src/formulation.html) documentation for more details.

The [src/technology/](../src/technology/) folder has examples of several technology models.

#### Capital cost function.

The capital cost function takes the scale of the operations and the array of technology parameters as arguments and it returns the capital costs for the technology.

In [12]:
def capital_cost(scale, parameter):
    """
    Capital cost function.

    Parameters
    ----------
    scale : float
      The scale of operation.
    parameter : array
      The technological parameterization.

    Returns
    -------
    Total capital cost for one biorefinery (USD/biorefinery)
    """
    # "original" biorefinery scale
    o_scale = parameter[10]
    
    # scaling factor for equipment costs
    scale_factor = parameter[11]
    
    pre = parameter[3] * (scale / o_scale) ** scale_factor 
    fer = parameter[4] * (scale / o_scale) ** scale_factor 
    con = parameter[5] * (scale / o_scale) ** scale_factor 
    sep = parameter[6] * (scale / o_scale) ** scale_factor 
    utl = parameter[7] * (scale / o_scale) ** scale_factor 
    
    return np.stack([pre, fer, con, sep, utl])

Implement the capital cost function for your technology in the file [tutorial/my_technology.py](./).

#### Fixed cost function.

The fixed cost function takes the scale of the operations and the array of technology parameters as arguments and it returns the fixed costs for the technology.

In [13]:
def fixed_cost(scale, parameter):
    """
    Fixed cost function.

    Parameters
    ----------
    scale : float [Unused]
      The scale of operation.
    parameter : array
      The technological parameterization.

    Returns
    -------
    total fixed costs for one biorefinery (USD/year)
    """
    o_scale = parameter[10]
    rnt = parameter[8] * (scale / o_scale)
    ins = parameter[9] * (scale / o_scale)

    return np.stack([rnt, ins])

Implement the fixed cost function for your technology in the file [tutorial/my_technology.py](./).

#### Production function.

The production function takes the scale of the operations, the capital costs, the lifetime, the fixed costs, and the array of technology parameters as arguments and it returns the production (outputs) for the technology.

In [14]:
def production(scale, capital, lifetime, fixed, input, parameter):
    """
    Production function.

    Parameters
    ----------
    scale : float
      The scale of operation.
    capital : array
      Capital costs.
    lifetime : float
      Technology lifetime.
    fixed : array
      Fixed costs.
    input : array
      Input quantities.
    parameter : array
      The technological parameterization.

    Returns
    -------
    output_raw
        Ideal/theoretical production of each technology output: biofuel at
        gals/year
    """

    theor_yield = parameter[12]
    feedstock = input[0] * scale

    output_raw = theor_yield * feedstock

    return np.stack([output_raw])

Implement the production function for your technology in the file [tutorial/my_technology.py](./).

#### Metric function.

The metric function takes information on costs, inputs, outputs, and parameters and it returns the metrics for the technology.

In [15]:
def metrics(scale, capital, lifetime, fixed, input_raw, input, output_raw, output, cost, parameter):
    """
    Metrics function.

    Parameters
    ----------
    scale : float
      The scale of operation. Unitless
    capital : array
      Capital costs. Units: USD/biorefinery
    lifetime : float
      Technology lifetime. Units: year
    fixed : array
      Fixed costs. Units: USD/year
    input_raw : array
      Raw input quantities (before losses). Units: metric ton feedstock/year
    input : array
      Input quantities. Units: metric ton feedstock/year
    output_raw : array
      Raw output quantities (before losses). Units: gal biofuel/year
    output : array
      Output quantities. Units: gal biofuel/year
    cost : array
      Costs.
    parameter : array
      The technological parameterization. Units vary; given in comments below
    """

    # JOBS: person-hours/gal biofuel
    # parameter[2] units: person-hours/year
    # output units: gal biofuel/year
    emp = parameter[2] / output

    # FOSSIL GHG: kg CO2-eq/gal biofuel
    # parameter[0] units: kg CO2-eq/year
    # output units: gal biofuel/year
    ghg_foss = parameter[0] / output

    # TOTAL GHG: kg CO2-eq/gal biofuel
    # parameter[0] and parameter[1] units: kg CO2-eq/year
    # output units: gal biofuel/year
    ghg_tot = (parameter[0] + parameter[1]) / output

    return np.stack([emp, ghg_foss, ghg_tot])

Implement the metrics function for your technology in the file [tutorial/my_technology.py](./).

### Create the `functions` table.

Check to see that the data file reads correctly:

In [9]:
my_designs.functions

,Style,Module,Capital,Fixed,Production,Metrics,Notes
Technology,,,,,,,
Biorefinery 1.0,numpy,biorefinery_v1,capital_cost,fixed_cost,production,metrics,

Check to see that the functions compile without errors.

In [10]:
my_designs.compile()

## Create investment for reference case.

### Create the `tranches` table.

Check to see that the data file reads correctly:

In [12]:
my_investments = ty.Investments("data/biorefinery_v1")
my_investments.tranches

                                                  Amount Notes
Category      Tranche         Scenario
Conversion    Conversion 0    Conversion 0           0.0
              Conversion 1    Conversion 1      800000.0
              Conversion 2    Conversion 2     2000000.0
Fermentation  Fermentation 0  Fermentation 0         0.0
              Fermentation 1  Fermentation 1    250000.0
              Fermentation 2  Fermentation 2    400000.0
Preprocessing Preprocessing 0 Preprocessing 0        0.0
              Preprocessing 1 Preprocessing 1   500000.0
              Preprocessing 2 Preprocessing 2  1500000.0
Separations   Separations 0   Separations 0          0.0
              Separations 1   Separations 1     500000.0
              Separations 2   Separations 2    2000000.0

### Create the `investments` table.

Check to see that the data file reads correctly:

In [13]:
my_investments = ty.Investments("data/biorefinery_v1")
my_investments.investments

                                           Notes
Investment   Category      Tranche
High R&D     Conversion    Conversion 2
             Fermentation  Fermentation 2
             Preprocessing Preprocessing 2
             Separations   Separations 2
Low R&D      Conversion    Conversion 0
             Fermentation  Fermentation 0
             Preprocessing Preprocessing 0
             Separations   Separations 0
Moderate R&D Conversion    Conversion 1
             Fermentation  Fermentation 1
             Preprocessing Preprocessing 1
             Separations   Separations 1

## Simulate the base case or reference scenario.

### Load the data.

In [14]:
my_designs = ty.Designs("data/biorefinery_v1")

In [15]:
my_investments = ty.Investments("data/biorefinery_v1")

### Compile the production and metric functions for each technology in the dataset.

In [16]:
my_designs.compile()

### Compute costs and metrics for tranches.

Tranches are atomic units for building investment portfolios. Evaluate all of the tranches, so we can assemble them into investments (portfolios).

In [17]:
tranche_results = my_investments.evaluate_tranches(my_designs, sample_count=50)

KeyError: 'Biorefinery v1'

The tranche amounts are simple how much each tranche costs.

In [37]:
tranche_results.amounts

                                          Amount
Category          Tranche
CIGS              CIGS 0                     0.0
                  CIGS 1               1500000.0
                  CIGS 2               3000000.0
CdTe              CdTe 0                     0.0
                  CdTe 1               3000000.0
                  CdTe 2               6000000.0
GaAs              GaAs 0                     0.0
                  GaAs 1               5000000.0
                  GaAs 2               7500000.0
InGaP             InGaP 0                    0.0
                  InGaP 1              3500000.0
                  InGaP 2              9500000.0
Perovskite        Perovskite 0               0.0
                  Perovskite 1         7500000.0
                  Perovskite 2         9500000.0
Polysilicon       Polysilicon 0              0.0
                  Polysilicon 1        2500000.0
                  Polysilicon 2        4500000.0
Power Electronics Power Electronics 0        0.0
                  Power Electronics 1  1000000.0
                  Power Electronics 2  5000000.0
Soft Costs        Soft Costs 0               0.0
                  Soft Costs 1         1000000.0
                  Soft Costs 2         5000000.0

The tranch metrics show the values of each metric for each member of the ensemble of simulations.

In [39]:
tranche_results.metrics

                                                                         Value  \
Category   Tranche      Scenario     Sample Technology Index
CIGS       CIGS 0       CIGS 0       1      PV Generic Capital       -1.077813
                                                       Efficiency     0.219947
                                                       GHG           -0.000449
                                                       Hazardous      0.047658
                                                       LCOE          -0.044739
...                                                                        ...
Soft Costs Soft Costs 2 Soft Costs 2 50     PV Generic Hazardous      0.243075
                                                       LCOE           0.016238
                                                       Lifetime      25.001565
                                                       Strategic      0.000000
                                                       Yield       1278.437470

                                                                           Units
Category   Tranche      Scenario     Sample Technology Index
CIGS       CIGS 0       CIGS 0       1      PV Generic Capital            Δ$/Wdc
                                                       Efficiency          %/100
                                                       GHG         ΔgCO2e/system
                                                       Hazardous           g/kWh
                                                       LCOE               Δ$/kWh
...                                                                          ...
Soft Costs Soft Costs 2 Soft Costs 2 50     PV Generic Hazardous           g/kWh
                                                       LCOE               Δ$/kWh
                                                       Lifetime               yr
                                                       Strategic           g/kWh
                                                       Yield               hr/yr

[9600 rows x 2 columns]

### Compute costs and metrics for investments.

Now evaluate the investments.

In [40]:
investment_results = my_investments.evaluate_investments(my_designs, sample_count=50)

The investment amounts are simple how much each tranche costs.

In [41]:
investment_results.amounts

                  Amount
Investment
High R&D      50000000.0
Moderate R&D  25000000.0
No R&D               0.0

The investment metrics show the values of each metric for each member of the ensemble of simulations.

In [42]:
investment_results.metrics

                                                                                    Value  \
Investment Category   Tranche      Scenario     Sample Technology Index
No R&D     CIGS       CIGS 0       CIGS 0       1      PV Generic Capital       -0.678316
                                                                  Efficiency     0.232591
                                                                  GHG           -0.000449
                                                                  Hazardous      0.054182
                                                                  LCOE          -0.053636
...                                                                                   ...
High R&D   Soft Costs Soft Costs 2 Soft Costs 2 50     PV Generic Hazardous      0.265198
                                                                  LCOE           0.011181
                                                                  Lifetime      25.000505
                                                                  Strategic      0.000000
                                                                  Yield       1278.425112

                                                                                      Units
Investment Category   Tranche      Scenario     Sample Technology Index
No R&D     CIGS       CIGS 0       CIGS 0       1      PV Generic Capital            Δ$/Wdc
                                                                  Efficiency          %/100
                                                                  GHG         ΔgCO2e/system
                                                                  Hazardous           g/kWh
                                                                  LCOE               Δ$/kWh
...                                                                                     ...
High R&D   Soft Costs Soft Costs 2 Soft Costs 2 50     PV Generic Hazardous           g/kWh
                                                                  LCOE               Δ$/kWh
                                                                  Lifetime               yr
                                                                  Strategic           g/kWh
                                                                  Yield               hr/yr

[9600 rows x 2 columns]

A summary of the metrics is available at the investment level rather than at the tranche level.

In [43]:
investment_results.summary

                                     Value          Units
Investment Sample Index
No R&D     1      Capital        -1.862977         Δ$/Wdc
                  Efficiency      2.048341          %/100
                  GHG            -0.003592  ΔgCO2e/system
                  Hazardous       0.979832          g/kWh
                  LCOE           -0.153442         Δ$/kWh
...                                    ...            ...
High R&D   50     Hazardous       0.815598          g/kWh
                  LCOE            0.049966         Δ$/kWh
                  Lifetime      187.192465             yr
                  Strategic       0.044768          g/kWh
                  Yield       10251.413349          hr/yr

[1200 rows x 2 columns]